* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


button {
    background-color: rgb(224, 162, 108);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 1.5rem;
}

button:hover {
    background-color: rgb(204, 139, 82);
}


#welcome-message {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

#enter-name {
    font-size: 1.5rem;
}

.screen {
    display: none;
}

.screen.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(235, 231, 227);
    border-radius: 20px;
    margin: 50px;
    margin-top: 300px;
    padding: 30px;
}

